.Chip {
    z-index: 10;
    background: rgb(234, 238, 255);
    height: 2em;
    width: auto;
    padding: 0 1em;
    margin: 0 .5em;
    line-height: 1.8em;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: inline-block;
    // border-bottom: 2px solid #BDBDBD;
    border-radius: 15px;
    cursor: pointer;
    // -webkit-animation: shadow-hover-r 500ms linear both;
    animation: shadow-hover-r 500ms linear both;
    &:hover {
        -webkit-animation: shadow-hover 500ms linear both;
        animation: shadow-hover 500ms linear both;
    };
    &_fiats {
        margin: .5em;
    };
    &_active {
        background: rgb(179, 187, 230);
        color: #fff;
        font-weight: 500;
        border: 0;
        border-radius: 40px;
        -webkit-box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, .5);
        // -webkit-animation: shadow-drop 1s ease-in-out both;
        // animation: shadow-drop 1s ease-in-out both;
    }
}

@keyframes shadow-hover {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 49px -30px rgba(10, 40, 99, 0.3),
        -22px -22px 30px -25px rgba(10, 40, 99, 0.15) inset,
        22px 22px 40px -22px rgba(143, 143, 143, 0.15) inset;
    }

    100% {
        -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, .5);
    }
}

@keyframes shadow-hover-r {
    100% {
        box-shadow: 0px 0px 49px -30px rgba(10, 40, 99, 0.3),
        -22px -22px 30px -25px rgba(10, 40, 99, 0.15) inset,
        22px 22px 40px -22px rgba(143, 143, 143, 0.15) inset;
    }
    
    0% {
        -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, .5);
   }
}